*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
    
  
    
}
.content{
    width: 100%;
    height: 10  0vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    
    
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.content img{
    background-attachment: fixed;
}

nav{
    width: 100%;
    position: fixed;
    height: 11%;
    top: 0;
    left: 0;
    padding: 10px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
   

}
nav .logo{
    width: 6%;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    text-transform: uppercase;
    letter-spacing: 0.15em;

}
nav ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 15px ;
    font-weight: 600;
}
nav ul li a:hover{
  color: white;
}
   

#main{
    text-align: center;
    width: 100%;
    height: 100vh;
    bottom:  100px;
    scroll-snap-align: center;
  
    
}
#main h1{
    font-size: 150px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20%;
    display: flex;
}
#main a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
.image{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
#main h1:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}
section{
background-color: #fff;
}
.box{
    position: relative;
    
}
.box h2{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;

}
.box p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;

}
section h1{
    font-size: 4rem;
}
section p{
    font-size: 1.2rem;
}

.container{
    width: 100%;
    height: auto;
    

  
  
    

    
}



#home{
    background: linear-gradient(
        80deg,
        rgba(12,3,51,0.3),
        rgba(12,3,51,3)

    );
    background-image: url(./2.jpg);
    background-size: cover;
    z-index: 2;
   
  }
  /*
  #about{
    background: url("https://images.unsplash.com/photo-1517486430290-35657bdcef51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80") no-repeat center center/cover ;
    
    background-attachment: fixed;
}
  
  #gallery{
    background: url("https://images.unsplash.com/photo-1611605687530-cc4db0713da7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80") no-repeat center center/cover ;
  }
  
  #help{
    background: url("https://images.unsplash.com/photo-1438866612080-aba418f9046c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=892&q=80") no-repeat center center/cover ;
   
}
*/
nav.sticky{
    padding: 2px 1%;
    background: rgb(0, 0, 0);
}
.section{
    text-align: center;
    padding: 50px 80px;
}
.info{
    position:absolute;
    width: 100%;
    height: 100vh;
    
}
.png1,.png2{
  
   opacity: 1;
   
  
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pic{
    position:absolute;
    width: 100%;
    height: auto;

}

.png1{
background-image: url("./2.jpg");
   
    
    position: absolute;
    width: 90%;
    height: 100vh;

    animation: change 20s infinite ease-in-out;
    left: 0;
    top: 150vh;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 40px;
   

}
.info p{
    padding: 10px;
}
.box{
    width: 100%;
    height: 160vh;
    background-color: black;
   
    color: white;
    
}
.png2{
    background-image: url("./3.jpg");
    min-height: 600px;
    padding:20% ;
   
    
}
@keyframes change {
    0%
    {
        background-image: url(./2.jpg);
    }
    
    20%
    {
        background-image: url(./4.jpg);
    }
    
    40%
    {
        background-image: url(./5.jpg);
    }
    
    60%
    {
        background-image: url(./6.jpg);
    }
    80%
    {
        background-image: url(./7.jpg);
    }
    100%
    {
        background-image: url(./ele.jpg);
    }
    
    
    
}
span a{
 
    border-bottom: 2px solid #fc0;
    text-decoration: none;
    color: white
    
}
.back-video{
    
    width: 100%;
    

    z-index: 0;
}
.vedio{

  
    opacity: -1;
}
.detail{
    position: relative;
    width: 100%;
    height: 30vh;
    
}
.text{
    position: absolute;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    top: 50%;
    padding: 20px;
    opacity: 0.80;
  
    color: black;
    font-weight: 600;
   

    
}
.pause{
    position: absolute;
}
.card{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 
    
   
    padding: 30px;
    
   
    width: 100%;
    height: 100vh;
    background-color: black;
    
}
.cards{

color:black;
    width: 20%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    
}
.card :hover{
   background-color:black;
   color:white;
   
   transition: 0.2s;
   transform: scale(1.1);
  
 
    
}

.cards img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    

    
}


.cards h2{
    padding: 10px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
text-transform: uppercase;
text-align: center;


}
.cards p{
    padding: 5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:15px;
}
.cards a{
   
    text-decoration: none;
    color: black;
    border-bottom: 2px solid #fc0;
   
  
}
.a1 h1{
    background-color: black;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;

    
}
.play{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    height: auto;
    background-color:white;
    text-align: left;
    padding: 40px;

}
.play video{
    width: 60%;
    height:70% ;
    
    
}
.ivory{
    width: 100%;
    height: auto;
    padding: 30px;
    text-align: center;
    border: 1px solid black;
    justify-content: space-between;
}
.ivory p{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ivory h1{
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ivory:hover{
    background-color: black;
    color: #fff;
    transition: 0.2s;
   
}
span{
    border-bottom: 2px solid #fc0;
}
 .footer{
     width: 100%;
     height:10px;
     margin-top: 20vh;
    
     position: absolute;
   
 }
 .test{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     bottom: 80vh;
  
 }
 .footer{
     text-decoration: none;
 }
 .test li{
     list-style: none;
 }
 .test li a{
  
    list-style: none;
    text-decoration: none;
    
    
 }
 .footer .test a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 255,255,0.2);
    margin:0 10px 10px 0 ;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all 0.5s ease;
}
.footer .test a:hover{
    color: #24262b;
    background-color: #ffffff;
}



